// example of a component based SASS definition through use of :local
@import '../../global-styles/variables';

$subNavSmBp: 450px;
$fullNavWidth: 1100px;

$transition: 300ms;
$delay: 100ms;

:local {
.navbar {
  background-color: white;
  border-bottom: 1px solid $frame;
  position: relative;
  z-index: 400;
}

.subnav {
  font-size: 0.9em;
  background-color: $red;
  text-align: right;
  position: relative;
  .redAngle {
    display: none;
  }
  a {
    color: white;
    display: inline-block;
    padding: 0.25em 0.5em 0.5em;
    &:hover,
    &:focus {
      color: white;
    }
    &.locationLink,
    &.locationLink + svg {
      display: none;
    }
  }
  .chevron {
    width: 16px;
    height: 1.4em;
    display: inline-block;
    vertical-align: middle;
  }
  a.contactLink {
    background-color: $black;
    font-weight: 800;
    margin-left: 0.25em;
    padding: 0.5em 0.75ej;
    display: inline-block;
    vertical-align: top;
    position: relative;
    .blackAngle {
      display: none;
    }
  }
  @media (min-width: 385px) {
    a.locationLink,
    a.locationLink + svg {
      display: inline-block;
    }
  }
  @media (min-width: $subNavSmBp) {
    float: right;
    .redAngle {
      display: block;
      fill: $red;
      position: absolute;
      width: 2.75em;
      height: 100%;
      left: -2.25em;
    }
    a.contactLink {
      margin-left: 2em;
      padding-right: 1.5em;
      .blackAngle {
        display: block;
        fill: $black;
        width: 2.75em;
        height: 100%;
        display: inline-block;
        position: absolute;
        top: 0;
        left: -2em;
      }
    }
  }
  @media (min-width: $sm-bp) {
    a {
      padding-bottom: 0.25em;
    }
  }
}

.logo {
  text-align: center;
  padding: 1em;
  max-width: 100%;
  img {
    width: 100%;
    max-width: 22em;
  }
  @media (min-width: $subNavSmBp) {
    border-top: 26.781px solid $black;
  }
  @media (min-width: $sm-bp) {
    border-top: 26.094px solid $black;
  }
  @media (min-width: $fullNavWidth) {
    border-top: none;
    float: left;
    text-align: left;
    padding-top: 1.25em;
    padding-bottom: 0;
  }
}

.mainNav {
  button.navBtn {
    background-color: $shade;
    margin-left: 0;
    padding: 0.5em;
    border-top: 1px solid $frame;
    border-radius: 0;
    font-size: 1rem;
    font-weight: 700;
    text-align: left;
    color: $text;
    display: flex;
    align-items: center;
    width: 100%;
    img {
      display: none;
      opacity: 0;
      transition: opacity 200ms ease;
    }
    span {
      flex-grow: 1;
    }
    svg.dropDownIcon {
      fill: $text;
      width: 1em;
      height: 1em;
      display: inline-block;
      vertical-align: middle;
      margin-left: 0.25em;
      transform: rotate(0deg);
      transition: transform 200ms ease;
    }
    &:hover {
      img {
        opacity: 0.75
      }
    }
    &.showing {
      svg.dropDownIcon {
        transform: rotate(180deg);
      }
      img {
        opacity: 1;
      }
    }
  }
  .partsAndServices {
    background-color: $shade;
    border-top: 1px solid $frame;
    padding: 0.75em 0.5em;

    color: $primary;
    font-weight: 700;
    display: block;
    &:hover,
    &:focus {
      color: $primary;
    }
  }
  @media (min-width: $sm-bp) {
    text-align: center;
    button.navBtn {
      background-color: transparent;
      margin-left: 3em;
      padding: 0;
      border-top: none;
      width: auto;
      display: inline-block;
      margin-bottom: 0.25em;
      text-align: center;
      img {
        display: block;
        margin: 0 auto 0.25em;
        width: 4em;
        opacity: 0.4;
      }
      &:first-child {
        margin-left: 0em;
      }
    }
    .partsAndServices {
      background-color: transparent;
      color: $black;
      border-top: none;
      text-align: center;
      font-weight: 800;
      margin-left: 2.5em;
      margin-right: 1em;
      padding: 0.5em 0;
      display: inline-block;
      vertical-align: middle;
      width: 4.5em;
      &:hover,
      &:focus {
        color: $black;
      }
    }
  }
  @media (min-width: $fullNavWidth) {
    text-align: right;
    float: right;
    width: calc(100% - 19em);
  }
}

.subnavWrapper {
  text-align: left;
  position: absolute;
  right: 0;
  left: 0;
  overflow: hidden;
  top: -200vh;
  z-index: -100;
  transition: z-index $transition step-end $delay,
              top $transition step-end $delay;
  .subnavContainer {
    transform: translateY(-100%);
    transition: transform $transition cubic-bezier(.5,0,0,1) $delay;
  }
}
button.navBtn:hover + .subnavWrapper,
.subnavWrapper:hover,
.subnavWrapper.show {
  z-index: 500;
  top: 100%;
  transition: z-index $transition step-start,
              top $transition step-start;
  .subnavContainer {
    transform: translateY(0);
  }
}

}
