@import '../global-styles/variables';

:local {
.homeHero {
  padding: 3em 0;
  overflow: hidden;
  box-shadow: 0 7px 13px 2px rgba($black, 0.38);
  .homeHeroText {
    background-color: rgba($black, 0.8);
    color: white;
    padding: 2em;
    max-width: 41em;
    position: relative;
    z-index: 5;
    h2 {
      font-weight: 800;
      font-size: 2.3em;
    }
    p {
      line-height: 1.4em;
      margin-top: 0.25em;
    }
  }
  & > svg {
    fill: rgba(white, 0.5);
    position: absolute;
    bottom: -1em;
    left: -2em;
    width: 12em;
    height: 9em;
  }
  @media (min-width: $sm-bp) {
    padding: 13em 0;
    & > svg {
      left: -4em;
      width: 19em;
      height: 13em;
    }
  }
}

.heritage {
  background-color: $black;
  border-top: 1.333em solid $red;
  color: white;
  padding: 3em 0.25em;
  position: relative;
  svg {
    fill: $red;
    position: absolute;
    top: -0.75em;
    left: 0.5em;
    width: 4em;
    height: 3em;
  }
  h1 {
    strong {
      text-align: center;
      font-size: 13rem;
      font-weight: 800;
      line-height: 1em;
      display: block;
    }
    span {
      font-size: 1.7rem;
      line-height: 1.25em;
      text-align: center;
      text-transform: uppercase;
      font-weight: 800;
      display: block;
    }
  }
  @media (min-width: $sm-bp) {
    padding: 7em 0.25em;
    h1 {
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        text-align: left;
        margin-left: 1em;
      }
    }
  }
  
  .videoContainer {
    max-width: 883px;
    margin: 1em auto 1em;
    padding: 0 1em;

    p {
      text-align: center;
      margin-top: 0.25em;
      margin-bottom: 0;
      opacity: 0.7;
    }
  }

  .responsiveVideo {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
    iframe,
    object,
    embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.coreValue {
  padding: 12em 0 0;
  text-align: right;
  .valueText {
    background-color: rgba($black, 0.6);
    display: inline-block;
    color: white;
    text-align: left;
    padding: 2em;
    max-width: 41em;
    position: relative;
    svg {
      fill: rgba($red, 0.7);
      position: absolute;
      top: 1em;
      left: 1em;
      width: 5em;
      height: 3.5em;
    }
    h2 {
      font-weight: 800;
      font-size: 2.3em;
      position: relative;
      z-index: 5;
    }
    p {
      font-size: 1.333em;
      line-height: 1.4em;
      margin-top: 0.25em;
      position: relative;
      z-index: 5;
    }
  }
  @media (min-width: $sm-bp) {
    padding: 14em 0;
    .valueText {
      background-color: rgba($black, 0.8);
    }
  }
}

.advantagesIntro {
  border-top: 1.333em solid $black;
  padding: 3em 0;
  &:before {
    max-height: 100%;
  }
  svg {
    fill: $black;
    position: absolute;
    top: -0.75em;
    left: 0.5em;
    width: 4em;
    height: 3em;
  }
  .advantageText {
    background-color: rgba($black, 0.8);
    color: white;
    max-width: 32em;
    margin: 0 auto;
    padding: 2em;
    position: relative;
    z-index: 10;
    h2 {
      font-weight: 800;
      font-size: 1.8em;
    }
    p {
      line-height: 1.4em;
      margin-top: 0.25em;
    }
  }
  @media (min-width: $sm-bp) {
    padding: 8em 0.5em;
    .advantageText {
      h2 {
        font-size: 2.3em;
      }
    }
  }
}

.advantages {
  padding-top: 1em;
  padding-bottom: 1em;;
  .advantage {
    .advantageImg {
      display: none;
    }
    .advantageText {
      padding: 1.5em;
      h3 {
        font-weight: 700;
      }
    }
  }
  @media (min-width: $sm-bp) {
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    .advantage {
      display: flex;
      align-items: center;
      &:nth-child(2),
      &:nth-child(4) {
        flex-direction: row-reverse;
      }
      .advantageImg {
        display: block;
        width: 50%;
        min-height: 50vw;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
      }
    }
    .advantageText {
      width: 50%;
    }
  }
  @media (min-width: 1285px) {
    .advantage {
      display: inline-flex;
      align-items: center;
      width: 50%;
      &:nth-child(2) {
        flex-direction: row;
      }
      &:nth-child(3),
      &:nth-child(4) {
        flex-direction: row-reverse;
      }
      .advantageImg {
        width: 50%;
        min-height: 25vw;
      }
      .advantageText {
        width: 50%;
      }
    }
  }
}

.callToAction {
  background-color: $black;
  color: white;
  padding: 2em;
  h2 {
    font-weight: 800;
    font-size: 1.8em;
  }
  & > p {
    margin-top: 0.5em;
    margin-bottom: 1em;
  }
  .ctaLocations {
    .ctaLocationContainer {
      & + .ctaLocationContainer {
        margin-top: 1em;
      }
      a.locationPhone {
        color: white;
        float: right;
      }
      a.locationMap {
        display: block;
        border: 3px solid $link;
        margin-top: 0.25em;
        transform: scale(1);
        transition: transform 300ms cubic-bezier(.6,0,0,1.5);
        img {
          width: 100%;
          display: inline-block;
          vertical-align: middle;
        }
        &:hover {
          border-color: lighten($link, 15);
          transform: scale(1.025);
        }
      }
    }
  }
  @media (min-width: $sm-bp) {
    h2 {
      font-size: 2.3em;
    }
    .ctaLocations {
      display: flex;
      justify-content: space-between;
      .ctaLocationContainer {
        width: calc(50% - 0.5em);
        & + .ctaLocationContainer {
          margin-top: 0;
        }
      }
    }
  }
}

.specialFeature {
  border-top: 1.333em solid $red;
  padding: 3em 0;
  svg {
    fill: $red;
    position: absolute;
    top: -0.75em;
    left: 0.5em;
    width: 4em;
    height: 3em;
    z-index: 10;
  }
  &:before {
    max-height: 100%;
  }
  .specialFeatureText {
    background-color: rgba($black, 0.8);
    color: white;
    padding: 2em;
    max-width: 35em;
    position: relative;
    z-index: 5;
    h2 {
      font-weight: 800;
      font-size: 2.3em;
    }
    p {
      line-height: 1.4em;
      margin-top: 0.25em;
      a {
        color: lighten($link, 15);
        display: block;
        margin-top: 0.5em;
      }
    }
  }
  @media (min-width: $sm-bp) {
    padding: 10em 0;
  }
}
}
