@import '../global-styles/variables';

:local {
.homeHero {
  padding: 13em 0;
  overflow: hidden;
  box-shadow: 0 7px 13px 2px rgba($black, 0.38);
  .homeHeroText {
    background-color: rgba($black, 0.8);
    color: white;
    padding: 2em;
    max-width: 41em;
    position: relative;
    z-index: 5;
    h2 {
      font-weight: 800;
      font-size: 2.3em;
    }
    p {
      line-height: 1.4em;
      margin-top: 0.25em;
    }
  }
  & > svg {
    fill: rgba(white, 0.5);
    position: absolute;
    bottom: -1em;
    left: -4em;
    width: 19em;
    height: 13em;
  }
}

.heritage {
  background-color: $black;
  border-top: 1.333em solid $red;
  color: white;
  padding: 7em 0;
  position: relative;
  svg {
    fill: $red;
    position: absolute;
    top: -0.75em;
    left: 0.5em;
    width: 4em;
    height: 3em;
  }
  p {
    display: flex;
    align-items: center;
    justify-content: center;
    strong {
      font-size: 13em;
      font-weight: 800;
      line-height: 1em;
    }
    span {
      font-size: 1.7em;
      line-height: 1.25em;
      text-transform: uppercase;
      font-weight: 800;
      margin-left: 1em;
    }
  }
}

.coreValue {
  padding: 14em 0;
  text-align: right;
  .valueText {
    background-color: rgba($black, 0.8);
    display: inline-block;
    color: white;
    text-align: left;
    padding: 2em;
    max-width: 41em;
    position: relative;
    svg {
      fill: rgba($red, 0.7);
      position: absolute;
      top: 1em;
      left: 1em;
      width: 5em;
      height: 3.5em;
    }
    h2 {
      font-weight: 800;
      font-size: 2.3em;
      position: relative;
      z-index: 5;
    }
    p {
      font-size: 1.333em;
      line-height: 1.4em;
      margin-top: 0.25em;
      position: relative;
      z-index: 5;
    }
  }
}

.advantagesIntro {
  border-top: 1.333em solid $black;
  padding: 8em 0.5em;
  &:before {
    max-height: 100%;
  }
  svg {
    fill: $black;
    position: absolute;
    top: -0.75em;
    left: 0.5em;
    width: 4em;
    height: 3em;
  }
  .advantageText {
    background-color: rgba($black, 0.8);
    color: white;
    max-width: 32em;
    margin: 0 auto;
    padding: 2em;
    position: relative;
    z-index: 10;
    h2 {
      font-weight: 800;
      font-size: 2.3em;
    }
    p {
      line-height: 1.4em;
      margin-top: 0.25em;
    }
  }
}

.advantages {
  display: flex;
  flex-wrap: wrap;
  .advantage {
    width: 50%;
    display: inline-flex;
    align-items: center;
    img {
      float: left;
      width: 50%;
    }
    .advantageText {
      float: left;
      width: 50%;
      padding: 1.5em;
      h3 {
        font-weight: 700;
      }
      p {}
    }
  }
}

.callToAction {
  background-color: $black;
  color: white;
  padding: 2em;
  h2 {
    font-weight: 800;
    font-size: 2.3em;
  }
  & > p {
    margin-top: 0.5em;
    margin-bottom: 1em;
  }
  .ctaLocations {
    display: flex;
    justify-content: space-between;
    .ctaLocationContainer {
      width: calc(50% - 0.5em);
      strong {}
      a.locationPhone {
        color: white;
        float: right;
      }
      a.locationMap {
        display: block;
        border: 3px solid $link;
        margin-top: 0.25em;
        transform: scale(1);
        transition: transform 300ms cubic-bezier(.6,0,0,1.5);
        img {
          width: 100%;
          display: inline-block;
          vertical-align: middle;
        }
        &:hover {
          border-color: lighten($link, 15);
          transform: scale(1.025);
        }
      }
    }
  }
}

.specialFeature {
  border-top: 1.333em solid $red;
  padding: 10em 0;
  svg {
    fill: $red;
    position: absolute;
    top: -0.75em;
    left: 0.5em;
    width: 4em;
    height: 3em;
    z-index: 10;
  }
  &:before {
    max-height: 100%;
  }
  .specialFeatureText {
    background-color: rgba($black, 0.8);
    color: white;
    padding: 2em;
    max-width: 35em;
    position: relative;
    z-index: 5;
    h2 {
      font-weight: 800;
      font-size: 2.3em;
    }
    p {
      line-height: 1.4em;
      margin-top: 0.25em;
      a {
        color: lighten($link, 15);
        display: block;
        margin-top: 0.5em;
      }
    }
  }
}
}
