@import '../global-styles/variables';

:local {
.inventoryContainer {
  background-color: $shade;
}
.inventoryWrapper {
  max-width: $constrained-width;
  margin: 0 auto;
  padding: 1em 0.5em;
  h1 {
    margin-bottom: 0.5em;
  }
}
.filters {
  margin-bottom: 1em;
}
a.vanLink.vanLink {
  background-color: $red;
  border-color: darken($red, 10%);
  color: white;
  font-weight: bold;
  display: block;
  margin-bottom: 1em;
  &:hover,
  &:focus {
    background-color: lighten($red, 5%);
    color: white;
  }
  svg {
    display: inline-block;
    vertical-align: middle;
    width: 1em;
    height: 1em;
    margin-left: 0.75em;
    path {
      fill: white;
    }
  }
  & + button:not(.no-autospace) {
    margin-left: 0;
  }

  @media (min-width: 815px) {
    display: inline-block;
    margin-bottom: 0;
    float: right;
  }
}
p.noItems {
  color: $grey;
  text-align: center;
  padding: 5em 0;
}
}
