@import '../global-styles/variables';

:local {
.inventoryContainer {
  background-color: $shade;
}
.inventoryWrapper {
  max-width: $constrained-width;
  margin: 0 auto;
  padding: 1em 0.5em;
  h1 {
    margin-bottom: 0.5em;
  }
}
.filters {
  margin-bottom: 1em;
}
.vanLink {
  font-weight: bold;
  text-align: right;
  margin-bottom: 1em;
}
p.noItems {
  color: $grey;
  text-align: center;
  padding: 5em 0;
}
}
