.hero {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100vw;
  &.top-left-pin {
    background-position: top left;
  }
  &.left-pin {
    background-position: center left;
  }
  &.red-gradient {
    position: relative;
    &:before {
      content: ' ';
      position: absolute;
      top: 0;
      right: 0;
      bottom: -0.25em;
      left: 0;
      background: linear-gradient(
        118deg,
        rgba(darken($red, 5), 0.7) 0%,
        rgba($red, 0) 25%,
        rgba($red, 0) 75%,
        rgba(darken($red, 5), 0.7) 100%
      );
    }
  }
}
