// Brand Colors
$red: #B20838;
$black: #231F20;

// Other Colors
$text: $black;
$grey: #636363;
$frame: #979797;
$shade: #F8F8F8;
$default: #FAFAFA;
$primary: #0D4B92;
$link: #3480a8;
$active: #7CA1D5;
$yellow: #F9D546;

$font-path: '../fonts/proxima-nova/';
$icon-font-path: '../fonts/cmix-icons/';

$base-font-size: 18px;
$font-family: Avenir Next, 'Nunito Sans', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

// For constrained content on desktop
$constrained-width: 1080px;

// Breakpoints
$sm-bp: 768px;
