@import 'variables';

// Not cloned from pattern library
// @import 'grid';
// @import 'icons';
// @import 'promise-indicator';
// @import 'panels';
// @import 'cards';
// @import 'people-cards';
// @import 'group-cards';

:global {
  @import 'normalize';
  @import 'utility';
  @import 'typography';
  @import 'buttons';
  @import 'tabs';
  @import 'inputs';
  @import 'tables';
  @import 'heros';
  @import 'modal';
  @import 'lib-image-lightbox';

  @import 'page-contact';

  body {
    font-size: $base-font-size - 2;
    @media (min-width: 768px) {
      font-size: $base-font-size;
    }
  }
}

img {
  max-width: 100%;
}
